<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="myForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" /><br />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" /><br />

      <input type="submit" value="Submit" />
    </form>

    <div id="successMessage"></div>
  </body>
  <script>
    const form = document.getElementById("myForm");
    const successMessage = document.getElementById("successMessage");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData(form);
      const name = formData.get("name");
      const email = formData.get("email");

      const res = await fetch("/api/submit-form", {
        method: "POST",
        body: JSON.stringify({ name, email }),
        headers: {
          "Content-Type": "application/json",
        },
      });
      const data = await res.json();

      successMessage.innerText = data.message;
    });
  </script>
</html>
